<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iesluisvives.peluqueriadam">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PeluqueriaAndroid"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityUserProfile"
            android:exported="false" />
        <activity
            android:name=".ActivityAppointments"
            android:exported="false" />
        <activity
            android:name=".ViewAppointments"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>
    </application>

</manifest>